{% extends 'base.html' %}

{% block content %}

<h1>Enter Product List</h1>

<!-- Filter Form -->
<form method="get" class="filter-form">
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date" name="start_date" class="form-control">
    <label for="end-date">End Date:</label>
    <input type="date" id="end-date" name="end_date" class="form-control">
    <button class="btn btn-primary" type="submit">Filter</button>
</form>

<!-- Filtered Results -->
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'enter_product_detail' product.code %}">{{ product.name }}</a></td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.entered_at }}</td>
            <td>{{ product.price }} uzs</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    body {
        font-family: Arial, sans-serif;
        padding-top: 100px;
    }
    .filter-form {
        margin-bottom: 20px;
    }
    label {
        margin-right: 10px;
    }
    .btn-primary {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

    .table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #dee2e6;
            margin-bottom: 20px;
        }

        .table th, .table td {
            border: 1px solid #dee2e6;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #6c757d;
            color: #fff;
        }

        .table tbody tr:hover {
            background-color: #f8f9fa;
        }
        .form-control {
            width: 200px;
            padding: 5px;
            margin-right: 10px;
        }
</style>

{% endblock %}
